.tc-main-container {
  box-sizing: border-box;
  padding: 16px;
  background-color: #f4f4f4;
}

.tc-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tc-game-board-container{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.tc-game-board-header-container{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 1.2);
  padding: 8px;
}

.tc-game-board-card-container {
  padding: 14px;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  
}
.tc-card{
    padding: 16px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.tc-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
